.qurey-time-scenic {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20rpx 30rpx;
    align-items: center;

    .lt{
        white-space: nowrap
    }

    .mid {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        .dateBox {
            margin: 10rpx;
            display: flex;
            flex-direction: column;
            font-size: 24rpx;
            text-align: center;
            padding: 16rpx 12rpx;
            border: 1rpx solid #e5e5e5;
            &.selected {
                border-color: #008fc2;
                color: #008fc2;
            }
            &.disable {
                background: #d9d9d9;
                border-color: #cdcdcd;
                color: #666;
                cursor: not-allowed;
            }
        }

        //单个日期
        .single-date{
            width: 100%;
            padding-left: 20rpx;
            text-align: left;
        }
    }
    .rt {
        width: 60rpx;
        display: flex;
        justify-content: space-around;
        align-self: stretch;
        .dot {
            position: relative;
            align-self: center;
            display: inline-block;
            width: 10rpx;
            height: 10rpx;
            background: #999;
            font-size: 0;
            line-height: 0;
            margin: 4rpx
        }
    }
}