.qurey-time-scenic {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20rpx 20rpx;
    align-items: baseline;
    line-height:30px;
    margin-top: 20rpx;

    .lt{
        white-space: nowrap;
        font-weight:bold;
    }

    .mid {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: baseline;
        
        
        .dateBox {
            margin: 10rpx;
            display: flex;
            font-size: 24rpx;
            text-align: center;
            padding: 16rpx 12rpx;
            border: 1rpx solid #e5e5e5;
            align-items: baseline;
            &.selected {
                border-color: #457ed8;
                color: #457ed8;
            }
            &.disable {
                background: #d9d9d9;
                border-color: #cdcdcd;
                color: #666;
                cursor: not-allowed;
            }
            .date{
                margin-left: 6rpx;
            }
        }

        //单个日期
        .single-date{
            width: 100%;
            padding-left: 20rpx;
            text-align: left;
        }
    }
    .rt {
        width: 60rpx;
        display: flex;
        justify-content: space-around;
        align-self: stretch;
        align-items: center;
        height: 30px;
        .dot {
            position: relative;
            align-self: center;
            display: inline-block;
            width: 10rpx;
            height: 10rpx;
            background: #999;
            font-size: 0;
            line-height: 0;
            margin: 4rpx
        }
        &:active{
            background: #e5e5e5;
        }
    }

    .time-picker{
        align-self:stretch;
        display:flex;
        align-items:center;
        height: 30px;
    }
}