.trip-postion{
    display: flex;
    background-color: #ffffff;
    margin-top: 1rpx;
    padding:20rpx 20rpx; 
    .trip-postion__name{
       white-space: nowrap;
    }   
    .trip-postion__value{
        padding-left:20rpx; 
        flex-grow: 1;
        &:active{
            color: orangered;
        }
    }
}